<!DOCTYPE html>

<html lang="en"> 
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title %}TsoHa{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
		<script src=""></script>
	</head> 
	<body> 
        {% block body %}
            <h1>TsoHa</h1>
        {% endblock %}
	</body>
</html>

