{% extends "base.html.jinja" %}

{% import "macros/credentials_form.html.jinja" as credentials_form %}
{% import "macros/flashing.html.jinja" as flashing %}

{% block title %}Fiber {{ form_type }}{% endblock %}

{% block body %}
    <div class="credentials_box">
        <div class="credentials_form_wrapper">
            {% if form_type == "register" %}
                {{ credentials_form.register_form(placeholder_username) }}
            {% elif form_type == "login" %}
                {{ credentials_form.login_form(placeholder_username) }}
            {% else %}
                <p>Unknown form type</p>
            {% endif %}
            {{ flashing.list_flashed_messages() }}
        </div>
    </div>    
{% endblock %}
