{% import "macros/tag.html.jinja" as tag %}
{% import "macros/fiber.html.jinja" as fiber %}

<div class="content_area">
    <nav class="nav nav_left">
        {{ tag.tag_listing(tags) }}
    </nav>
    <div class="fiber_match_feed">
        {{ fiber.fiber_match_listing(fiber_matches, search_term) }}
    </div>
    <nav class="nav nav_right">
        {{ fiber.fiber_listing(fibers) }}
    </nav>    
</div>
<div class="controls_area">
    <div></div>    
    <div></div>    
    <div>{{ fiber.add_fiber_button() }}</div>    
</div>
