{% extends "base.html.jinja" %}

{% block title %}Create new Fiber{% endblock %}

{% block body %}
    {% include "top_nav.html.jinja" %}
    {% include "left_nav.html.jinja" %}
    {% include "fiber_content.html.jinja" %}
{% endblock %}
