{% extends "base.html.jinja" %}

{% block title %}
    {% if edit_state == "create" %}
        Create new Fiber
    {% elif edit_state == "edit" %}
        Edit Fiber
    {% else %}
        {{ open_fiber.fibername }}
    {% endif %}
{% endblock %}

{% block body %}
    {% include "top_nav.html.jinja" %}
    {#% include "left_nav.html.jinja" %#}
    {% include "fiber_content.html.jinja" %}
{% endblock %}
