{% extends "base.html.jinja" %}

{% block title %}Explore Fibers{% endblock %}

{% block body %}
    {% include "top_nav.html.jinja" %}
    {#% include "left_nav.html.jinja" %#}
    {% include "fiber_matches_content.html.jinja" %}
{% endblock %} 
