{% import "macros/flashing.html.jinja" as flashing %}
{% import "macros/message.html.jinja" as message %}
{% import "macros/fiber.html.jinja" as fiber %}

<div class="content_area">
    <div class="message_feed">
        {{ flashing.list_flashed_messages() }}
        {{ message.message_listing(messages) }}
    </div>
    <div class="fiber_feed">
        {{ fiber.fiber_listing(fibers) }}
        {{ fiber.add_fiber_button() }}
    </div>
</div>
