:root {
    --nav_top_height: 3rem;
    --nav_left_width: 12rem;
    --message_item_spacing: 2rem;
    --message_border_width: 2px;
    --fiber_item_height: 6rem;

    /* --color_main_1: #3E3E3E; */
    /* --color_main_1: #858585; */
    --color_main_1: #707070;
    --color_accent_1: #A87A87;
    --color_accent_1_light: #C3A2AC;
    /* #B9939F; */
    --color_accent_2: #8E6D76;
    --color_accent_3: #6C575E;
    --color_accent_4: #574D51;
    --color_light_1: #F5F5F5;
    --color_light_2: #EBE0E3;

    --bg_gradient_1: linear-gradient(105deg, var(--color_accent_1), var(--color_accent_1_light));

    --font_huge: 3rem;
    --font_hugeish: 2.4rem;
    --font_big: 1.8rem;
    --font_medium_large: 1.6rem;
    --font_larger: 1.4rem;
    --font_medium: 1.2rem;
    --font_normal: 1rem;
    --font_medium_small: 0.8rem;
    --font_small: 0.7rem;

    --font_family: Helvetica, Tahoma, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font_family);
}

body {
    position: relative;
    height: 100%;
    background-image: var(--bg_gradient_1);
    background-attachment: fixed;
}


/* -------- Fonts -------- */

.font_huge {
    font-size: var(--font_huge);
}

.font_big {
    font-size: var(--font_big);
}

.font_medium {
    font-size: var(--font_medium);
}

.font_normal {
    font-size: var(--font_normal);
}

.font_medium_small {
    font-size: var(--font_medium_small);
}

.font_small {
    font-size: var(--font_small);
}

/* -------- General UI rules -------- */

input {
    font-size: 1rem;
}

input:focus, textarea:focus {
    outline: none;
}

ul.flashed_messages_list {
    list-style-type: none;
    text-align: center;
    color: var(--color_main_1);
    /* opacity: 0.6; */
}

a.no_decoration {
    text-decoration: none;
}

/* -------- Credentials area -------- */

div.credentials_box {
    position: absolute;
    width: 50vmin;
    /* height: 50vmin; */
    top: 50vh;
    left: 50vw;
    transform: translate3D(-50%, -50%, 0);
    border-radius: 1rem;
    background: var(--color_light_2);
}

div.credentials_form_wrapper {
    margin: 10%;
    /* background: var(--color_main_1); */
}

div.credentials_form_wrapper > h1.credentials_title {
    text-align: center;
    margin: 2rem;
    color: var(--color_main_1);
}

form.credentials_form > input {
    margin-bottom: 1rem;
}

form.credentials_form > input.credentials_field {
    padding: 0 1rem;
    width: 100%;
    height: 2.6rem;
    border-style: none;
    border-radius: 1rem;
    color: var(--color_main_1);
}

form.credentials_form > input.credentials_field::placeholder {
    color: var(--color_main_1);
    opacity: 0.6;
}

form.credentials_form > input.button {
    width: 100%;
    height: 3rem;
    border-style: none;
    border-radius: 1rem;
    color: var(--color_light_2);
    opacity: 0.7;
}

form.credentials_form > input.button:hover {
    opacity: 1;
}

form.credentials_form > input.button.login {
    background: var(--color_accent_1); 
}

form.credentials_form > input.button.register {
    background: var(--color_main_1);
}

/* -------- Top Nav -------- */

nav.nav_top {
    position: fixed;
    left: 0;
    top; 0;
    right: 0;
    height: var(--nav_top_height);
    z-index: 1;
    background: var(--color_accent_1);
}

nav.nav_top > a.logo {
    --height: var(--font_big);
    display: block;
    position: absolute;
    width: max-content;
    height: var(--height);
    margin-top: calc(var(--nav_top_height) / 2);
    transform: translateY(-50%);
    margin-left: var(--nav_top_height);
    text-decoration: none;
    font-weight: bold;
    color: var(--color_light_2);
    /* background: red; */
}

nav.nav_top > a.logo > p {
    position: relative;
    bottom: 0.4rem;
}

nav.nav_top form.search_form {
    --clearance: 2rem;
    position: absolute;
    width: calc((100% - var(--nav_left_width)) * 0.75 - (2 * var(--clearance))); 
    top: calc(var(--nav_top_height) / 2);
    left: calc(var(--nav_left_width) + var(--clearance));
    /* background: red; */
}

nav.nav_top form.search_form div.search_field_container {
    transform: translateY(-50%);
    /* background: green; */
}

nav.nav_top form.search_form input.search_field {
    padding: 0 2.5rem;
    width: 100%;
    height: 2rem;
    border-style: none;
    border-radius: 1rem;
    color: var(--color_main_1);
    background: var(--color_light_2);
    /* background: blue; */
}

nav.nav_top input.search_button {
    visibility: hidden;
}

nav.nav_top > a.logout_button, p.login_username {
    --height: var(--font_big);
    display: block;
    width: max-content;
    height: var(--height);
    margin-top: calc(var(--nav_top_height) / 2);
    transform: translateY(-50%);
    margin-right: var(--nav_top_height);
    float: right;
    text-decoration: none;
    line-height: 1.7;
    font-weight: bold;
    color: var(--color_light_2);
    /* background: red; */
}

nav.nav_top > a.logout_button:hover {
    opacity: 0.8;
}

/* -------- Left Nav -------- */

nav.nav_left {
    /* position: fixed; */
    overflow: hidden;
    top: var(--nav_top_height);
    left: 0;
    bottom: 0;
    /* width: var(--nav_left_width); */
    background: var(--color_accent_1);
}

div.tag_feed {
    /* position: absolute; */
    /* top: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: -17px; */
    /* overflow-y: scroll; */
    /* padding: calc(var(--message_item_spacing) / 2); */
    padding:  0.7rem;
    /* background: red; */
}

div.tag_feed > a {
    text-decoration: none;
}
    
div.tag_feed div.tag_item {
    margin-bottom: 0.7rem;
    text-align: center;
    border: var(--message_border_width) solid var(--color_main_1);
    border-radius: 1rem; 
    font-weight: bold;
    color: var(--color_main_1);
    background: var(--color_light_2);
    /* background: blue; */
}

div.tag_feed div.tag_item:hover {
    opacity: 0.8;
}


/* -------- Main Content Area -------- */

div.content_area {
    display: flex;
    align-items: stretch;
    position: relative;
    top: var(--nav_top_height);
    width: 100%;
    height: calc(100% - var(--nav_top_height));
    /* background: purple; */
}

div.content_area > * {
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;  /* Hide scrollbar Firefox */
    -ms-overflow-style: none;  /* Hide scrollbar IE and Edge */
}

div.content_area > *::-webkit-scrollbar {
    display: none;/* Hide scrollbar Chrome, Safari and Opera */
}

div.content_area > nav:first-child {
    flex: 2;
    /* background: red; */
}

div.content_area > div:nth-child(2) {
    flex: 8;
    /* background: blue; */
}

div.content_area > nav:nth-child(3) {
    flex: 3;
    /* background: green; */
}

div.controls_area {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* height: 40px; */
    display: flex;
    align-items: stretch;
    /* background: red; */
}

div.controls_area > div:first-child {
    flex: 2;
    /* background: red; */
}

div.controls_area > div:nth-child(2) {
    flex: 8;
    /* background: blue; */
}

div.controls_area > div:nth-child(3) {
    flex: 3;
    /* background: green; */
}


/* -------- Messages -------- */

div.message_feed {
    padding: 2rem 2rem 4rem 2rem;
}

div.message_item {
    position: relative;
    /* overflow: auto; */
    overflow: visible;
    margin-bottom: var(--message_item_spacing);
    margin-left: calc(2 * var(--message_item_spacing));
    margin-right: var(--message_item_spacing);
    /* padding: calc(var(--message_item_spacing) / 1.25); */
    border: var(--message_border_width) solid var(--color_main_1);
    border-radius: 1.4rem 1.4rem 1.4rem 0;
    background: var(--color_light_2);
}

div.message_header {
    overflow: auto;
    /* margin-bottom: 1rem; */
    border-radius: 1.2rem 1.2rem 0 0;
    background: var(--color_main_1);
}

div.message_header > div.message_author {
    margin: 0.7rem 0 0 1rem;
    font-weight: bold;
    font-size: var(--font_larger);
    line-height: 1rem;
    color: var(--color_light_2)
    /* background: red; */
}

div.message_header > div.message_date {
    margin: 0.2rem 0 0.1rem 1rem;
    /* font-weight: bold; */
    font-size: var(--font_small);
    color: var(--color_light_2)
}

div.message_content {
    padding: calc(var(--message_item_spacing) / 1.5);
    font-size: var(--font_medium);
    font-weight: bold;
    line-height: calc(1.25 * var(--font_medium));
    /* line-height: 1.5rem; */
    /* line-height: var(--font_larger); */
    /* line-height: var(--font_medium_large); */
    word-break: break-all;
    white-space: normal;
    color: var(--color_main_1)
    /* background: chartreuse; */
}

div.message_time {
    position: absolute;
    right: var(--font_small);
    bottom: calc(var(--font_small) / 2);
    font-weight: bold;
    font-size: var(--font_normal);
    color: var(--color_main_1)
}

div.message_item.sent_by_me {
    margin-left: calc(3 * var(--message_item_spacing));
    margin-right: 0;
    border: var(--message_border_width) solid var(--color_accent_2);
    border-radius: 1.4rem 1.4rem 0rem 1.4rem;
    /* background: var(--color_light_2); */
}

div.message_item.sent_by_me > div.message_header {
    background: var(--color_accent_2);
}

div.message_input_form_wrapper {
    position: relative;
    bottom: calc(var(--message_item_spacing) / 2);
    left: calc(var(--message_item_spacing) / 2);
    width: calc(100% - var(--message_item_spacing));
    /* background: red; */
}

form.message_input_form > textarea.message_content {
    width: 100%;
    height: 2.8rem;
    overflow: hidden;
    padding: 0.7rem 5.5rem 0.5rem 1.4rem;
    border: var(--message_border_width) solid var(--color_main_1);
    border-radius: 1.4rem;
    resize: none;
    font-family: var(--font_family);
    font-size: var(--font_medium);
    font-weight: bold;
    line-height: calc(1.25 * var(--font_medium));
    color: var(--color_main_1);
    background: var(--color_light_2);
    /* background: blue; */
}

form.message_input_form > textarea.message_content::placeholder {
    line-height: var(--font_medium);
    color: var(--color_main_1);
    opacity: 0.8;
}

form.message_input_form > input.send_button {
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
    width: 4.8rem;
    height: 2.4rem;
    border-radius: 1.4rem;
    border: none;
    font-size: var(--font_medium);
    font-weight: bold;
    color: var(--color_light_2);
    background: var(--color_accent_2);
}

form.message_input_form > input.send_button:hover {
    background: var(--color_accent_1);
}

div.message_feed ul.flashed_messages_list {
    margin-bottom: 1.4rem;
}

div.message_feed li.flashed_message_item {
    color: var(--color_light_2);
}


/* -------- Fibers listing -------- */

div.fiber_listing {
    overflow: hidden;
    padding: 2rem 1rem 4rem 0;
}

div.fiber_item {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: var(--fiber_item_height);
    margin-bottom: var(--message_item_spacing);
    border: var(--message_border_width) solid var(--color_accent_2);
    border-radius: 3rem 1.4rem 1.4rem 3rem;
    background: var(--color_light_2);
    /* box-shadow: 5px 5px 10px 0 rgba(50,50,50,0.2); */
}

div.fiber_item::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: 0;
    width: calc(var(--fiber_item_height) - var(--message_border_width));
    height: calc(var(--fiber_item_height) - var(--message_border_width));
    /* border: var(--message_border_width) solid var(--color_accent_2); */
    border-radius: calc(var(--fiber_item_height) / 2);
    background: var(--color_light_2);
}

div.fiber_item > div.fibername {
    height: 25%;
    padding-left: calc(var(--fiber_item_height) * 1.1);
    font-size: 100%;
    font-weight: bold;
    background: var(--color_accent_2);
    color: var(--color_light_2);
}

div.fiber_item > div.fiber_description {
    --lines_visible: 3;
    --v_padding: 0.3rem;
    --line_height: 1.4;
    height: 75%;
    padding: var(--v_padding) calc(2*var(--v_padding)) var(--v_padding) calc(var(--fiber_item_height) * 1.1);
    line-height: var(--line_height);
    font-size: calc((var(--fiber_item_height) * 0.75 - 2 * var(--v_padding)) / var(--lines_visible) / var(--line_height));
    font-weight: bold;
    color: var(--color_main_1);
    position: relative;
}

div.fiber_item > div.fiber_description::before {
    content: "";
    position: absolute;
    height: 35%;
    width: 100%;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, var(--color_light_2));
}

button.add_fiber_button {
    position: relative;
    bottom: calc(var(--message_item_spacing) / 2);
    left: calc(var(--message_item_spacing) / 2);
    width: calc(100% - var(--message_item_spacing));
    height: 2.8rem;
    /* border: var(--message_border_width) solid var(--color_light_2); */
    border: none;
    border-radius: 1.4rem;
    font-size: var(--font_medium);
    font-weight: bold;
    color: var(--color_light_2);
    background: var(--color_accent_2);
    /* background: var(--color_main_1); */
}

button.add_fiber_button:hover {
    background: var(--color_accent_1);
}


/* -------- Fiber view -------- */

div.edit_fiber_wrapper {
    overflow: hidden;
    width: 100%;
    border: var(--message_border_width) solid var(--color_accent_2);
    border-radius: 1.4rem;
    background: var(--color_light_2);
}

div.edit_fiber_header {
    text-align: center;
    font-size: var(--font_larger);
    font-weight: bold;
    color: var(--color_light_2);
    background: var(--color_accent_2);
}

div.edit_fiber_wrapper > form {
    /* width: 80%; */
    margin: 1rem 2rem;
    /* background: red; */
}
.edit_fiber_field {
    vertical-align: top;
    width: 100%;
    margin-bottom: 1rem;
    overflow: hidden;
    padding: 0.5rem 1.4rem;
    border: var(--message_border_width) solid var(--color_main_1);
    border-radius: 1.4rem;
    resize: none;
    font-family: var(--font_family);
    font-size: var(--font_medium);
    font-weight: bold;
    color: var(--color_main_1);
    background: var(--color_light_2);
}

.edit_fiber_field::placeholder {
    color: var(--color_main_1);
    opacity: 0.8;
}

input.edit_fiber_button {
    width: 100%;
    height: 2.8rem;
    border: none;
    border-radius: 1.4rem;
    font-size: var(--font_medium);
    font-weight: bold;
    color: var(--color_light_2);
    background: var(--color_accent_2);
}

input.edit_fiber_button:hover {
    background: var(--color_accent_1);
}

div.edit_fiber_wrapper li.flashed_message_item {
    margin-top: 0.7rem;
    color: var(--color_main_1);
    /* color: red */
}


/* -------- Fiber overview items (in search and fibers) -------- */

div.fiber_overview_item {
    margin-bottom: var(--message_item_spacing);
    border: var(--message_border_width) solid var(--color_main_1);
    border-radius: 1.4rem;
    background: var(--color_light_2);
}

div.fiber_overview_item > div.fibername {
    border-radius: 1.2rem 1.2rem 0 0;
    text-align: center;
    font-weight: bold;
    /* font-size: var(--font_larger); */
    font-size: var(--font_big);
    color: var(--color_light_2);
    background: var(--color_main_1);
}

div.fiber_overview_item > div.tag_area {
    padding: 0.5rem 0.5rem 0 0.5rem;
    display: flex;
    flex-flow: row wrap;
    /* justify-content: flex-start; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: center;
    gap: 0.4rem 0.8rem;
    /* background: red; */
}

div.fiber_overview_item > div.tag_area div.tag_item {
    /* margin: 0.3rem; */
    padding: 0 0.5rem;
    border: var(--message_border_width) solid var(--color_main_1);
    border-radius: 1rem;
    font-weight: bold;
    color: var(--color_light_2);
    background: var(--color_accent_2);
}

div.fiber_overview_item > div.tag_area div.tag_item:hover {
    opacity: 0.8;
}

div.fiber_overview_item > div.fiber_description {
    padding: 1rem;
    text-align: center;
    font-size: var(--font_medium);
    font-weight: bold;
    line-height: calc(1.25 * var(--font_medium));
    color: var(--color_main_1);
    /* background: red; */
}

div.fiber_overview_item > button.join_fiber_button {
    width: calc(100% - (2 * 1.4rem));
    height: 2.8rem; 
    margin: 0 1.4rem 1.4rem 1.4rem;
    border-style: none;
    border-radius: 1.4rem;
    font-size: var(--font_medium);
    font-weight: bold;
    color: var(--color_light_2);
    background: var(--color_accent_2);
}

div.fiber_overview_item > button.join_fiber_button:hover {
    background: var(--color_accent_1);
}


/* -------- Fiber match view -------- */

div.fiber_match_feed {
    padding: 2rem 2rem 1rem 2rem;
    /* background: red; */
}

div.fiber_match_feed > div.search_term_heading {
    margin-bottom: var(--message_item_spacing);
    border: var(--message_border_width) solid var(--color_main_1);
    border-radius: 1.4rem;
    background: var(--color_light_2);
}

div.fiber_match_feed > div.search_term_heading > h1 {
    text-align: center;
    font-weight: bold;
    font-size: var(--font_hugeish);
    color: var(--color_main_1);
}
