{% import "macros/flashing.html.jinja" as flashing %}

{% macro fiber_listing(fibers) %}
    {% if fibers %}
        {% for fiber in fibers %}
            {{ fiber_item(fiber) }}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro fiber_item(fiber) %}
    <a class="no_decoration" href="{{ url_for("view_fiber", fiber_id=fiber.fiber_id) }}">
        <div class="fiber_item">
            <div class="fibername">{{ fiber.markupsafe_fibername() }}</div>
            <div class="fiber_description">
                <p>{{ fiber.markupsafe_description() }}</p>
            </div>
        </div>
    </a>
{% endmacro %}

{% macro add_fiber_button() %}
    <button class="add_fiber_button" onclick="location.href='{{ url_for("create_fiber") }}'">add new fiber</button>
{% endmacro %}

{% macro edit_fiber_form(edit_state, placeholder_fiber) %}
    <div class="edit_fiber_wrapper">
        <div class="edit_fiber_header">{{ edit_state }} fiber</div>
        <form action="/{{ edit_state }}_fiber" class="edit_fiber_form" method="POST">
            <input type="text" class="edit_fiber_field" name="fibername" placeholder="name for your fiber" value="{{ placeholder_fiber.fibername }}"><br>
            <textarea class="edit_fiber_field" name="fiber_description" placeholder="describe your fiber">{{ placeholder_fiber.description }}</textarea><br>
            <textarea class="edit_fiber_field" name="fiber_tags" placeholder="give your fiber a list descriptive tags separated by space">{{ placeholder_fiber.tags }}</textarea><br>
            <input class="edit_fiber_button" type="submit" value="{{ edit_state }}">
            {{ flashing.list_flashed_messages() }}
        </form>        
    </div>
{% endmacro %}

{% macro fiber_heading(fiber) %}
    <div class="fiber_overview_item">
        <div class="fibername">{{ fiber.markupsafe_fibername() }}</div>
        <div class="tag_area">
            {% for tag in fiber.tags %}
                <a class="no_decoration" href="{{ url_for("fibers_by_tag", tag_id=tag.tag_id) }}">
                    <div class="tag_item">{{ tag.markupsafe_tag() }}</div>
                </a>                
            {% endfor %}
        </div>
        <div class="fiber_description">{{ fiber.markupsafe_description() }}</div>
    </div>    
{% endmacro %}

{% macro fiber_match_listing(fiber_matches, search_term) %}
    <div class="search_term_heading">
        {% if fiber_matches %}
            <h1>{{ search_term }}</h1>
        {% elif search_term %}
            <h1>No matches for "{{ search_term }}"</h1>
        {% else  %}
            <h1>No matches</h1>
        {% endif %}
    </div>
    {% if fiber_matches %}
        {% for fiber in fiber_matches %}
            {{ fiber_match_item(fiber) }}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro fiber_match_item(fiber) %}
    <div class="fiber_overview_item">
        <div class="fibername">{{ fiber.markupsafe_fibername() }}</div>
        <div class="tag_area">
            {% for tag in fiber.tags %}
                <a class="no_decoration" href="{{ url_for("fibers_by_tag", tag_id=tag.tag_id) }}">
                    <div class="tag_item">{{ tag.markupsafe_tag() }}</div>
                </a>                
            {% endfor %}
        </div>
        <div class="fiber_description">{{ fiber.markupsafe_description() }}</div>
        <button class="join_fiber_button" onclick="location.href='{{ url_for("join_fiber", fiber_id=fiber.fiber_id) }}'">Join this Fiber</button>
    </div>    
{% endmacro %}
